body{
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}
#navbar h1{
  color: #3F00FF;
  margin-left: 35px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
}
#l1{
  display: flex;
  list-style: none;
  margin-left: 70%;
  margin-top: -55px;
  cursor: pointer;
}
#l1 li {
  font-size: 18px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  font-weight:400;
}
#l1 li a{
  text-decoration: none;
  margin-right: 30px;
  color: black;
  cursor: pointer;
}
#l1 li a:hover{
  color: #3F00FF;
}
#navbar svg{
  fill: black;
  margin-top: -5px;
  cursor: pointer;
}
#navbar svg:hover{
  fill: #3F00FF;
}
#name{
  font-size: 50px;
  margin-left: 35px;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  margin-top: 80px;
  font-weight: 500;
}
h1,h2{
  margin-left: 120px;
}
#zero{
  font-size: 40px;
  margin-left: 120px;
  font-weight: 500;
  margin-top: 40px;
}
#un,#dos,#tres,#cuatro{
  font-size: 25px;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 45px;
}
#un{
  margin-top: -10px;
}
#dos,li{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
}
#minilog {
  display: none;
  position: absolute;
  top: 50px; /* Adjust as needed */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 88%;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 20px;
}

a {
  color: black;
}

a:hover {
  color: #3F00FF;
}

/* Show #minilog when hovering over the .profile-link */
.profile-link:hover #minilog {
  display: block;
}